In [1]:
import pandas as pd

In [2]:
# Enrichment criteria: adjusted p-value < 0.05

# Cluster 0

In [2]:
vol = pd.read_csv('c0_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_negative_revised.csv')

In [3]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [4]:
drop_col = ['ICD','Unnamed: 0']

In [5]:
cluster = cluster.drop(drop_col, axis=1)

In [6]:
c0 = cluster[(cluster['c0'] == True)& (cluster['c3'] == False) & (cluster['c4'] == False)]

In [7]:
c0

,Label,X,Y,flag,mapping,c0,c3,c4
0,I10,-3.501890,311.141798,0,Essential (primary) hypertension,True,False,False
2,F03.90,-2.259136,241.876775,0,Unspecified dementia,True,False,False
3,R41.3,-1.255849,67.037987,0,NaN,True,False,False
4,E78.5,-2.636000,300.520953,0,Disorders of lipoprotein metabolism and other ...,True,False,False
5,F02.81,-0.818347,23.278406,0,Dementia in other diseases classified elsewhere,True,False,False
...,...,...,...,...,...,...,...,...
1646,H52.223,-4.944911,6.830646,0,NaN,True,False,False
1647,Z97.8,-5.400600,9.634888,0,NaN,True,False,False
1648,W18.11XA,-5.090208,7.627499,0,NaN,True,False,False
1649,N23,-4.783541,6.038235,0,NaN,True,False,False
1650,M48.56XA,-4.944911,6.830646,0,NaN,True,False,False

In [8]:
c0_bottom10 = c0.sort_values(by=['X', 'Y'], ascending=[True, False]).head(10)

In [9]:
c0_bottom10

,Label,X,Y,flag,mapping,c0,c3,c4
1616,H60.399,-7.153941,34.429275,0,NaN,True,False,False
1580,I50.1,-7.046829,31.916566,0,Heart failure,True,False,False
1468,H91.8X9,-6.735190,50.118828,0,"Hearing loss, unspecified",True,False,False
1309,Z13.31,-6.633816,90.447532,0,NaN,True,False,False
1582,W18.09XA,-6.467823,21.097172,0,NaN,True,False,False
1546,H35.369,-6.383987,19.857381,0,NaN,True,False,False
1600,M85.88,-6.295151,18.619773,0,NaN,True,False,False
1531,E87.4,-6.264320,18.207752,0,NaN,True,False,False
1591,R09.81,-6.232836,17.796000,0,NaN,True,False,False
1552,J96.02,-6.167792,16.973334,0,NaN,True,False,False

# Cluster 3

In [10]:
vol = pd.read_csv('c3_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_negative_revised.csv')

In [11]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [12]:
drop_col = ['ICD','Unnamed: 0']

In [13]:
cluster = cluster.drop(drop_col, axis=1)

In [14]:
c3 = cluster[(cluster['c3'] == True) & (cluster['c0'] == False) & (cluster['c4'] == False)]

In [15]:
c3

,Label,X,Y,flag,mapping,c0,c3,c4
569,F07.0,-4.424484,7.21889,0,Personality and behavioral disorders due to br...,False,True,False

In [16]:
c3_bottom10 = c3.sort_values(by=['X', 'Y'], ascending=[True, False]).head(10)

In [17]:
c3_bottom10

,Label,X,Y,flag,mapping,c0,c3,c4
569,F07.0,-4.424484,7.21889,0,Personality and behavioral disorders due to br...,False,True,False

# Cluster 4

In [18]:
vol = pd.read_csv('c4_label_positions_AD_ICD10.csv')
upset = pd.read_csv('upset_df_AD_diagnosis_ICDfull_negative_revised.csv')

In [19]:
cluster = pd.merge(vol, upset, left_on="Label", right_on="ICD", how="inner")

In [20]:
drop_col = ['ICD','Unnamed: 0']

In [21]:
cluster = cluster.drop(drop_col, axis=1)

In [22]:
c4 = cluster[(cluster['c4'] == True) & (cluster['c0'] == False) & (cluster['c3'] == False)]

In [23]:
c4_bottom10 = c4.sort_values(by=['X', 'Y'], ascending=[True, False]).head(10)

In [24]:
c4_bottom10

       Label         X          Y  flag            mapping     c0     c3    c4
215   F01.51 -2.873675   7.476672     0  Vascular dementia  False  False  True
219   Z86.39 -2.734544   6.122691     0                NaN  False  False  True
208   R46.89 -2.377806   6.194124     0                NaN  False  False  True
195    Z00.6 -2.239145  10.264489     0                NaN  False  False  True
198  Z87.898 -2.222721   7.125425     0                NaN  False  False  True
175    Z04.9 -1.556648   7.237865     0                NaN  False  False  True

In [25]:
combined_bottom10 = pd.concat([c0_bottom10, c3_bottom10, c4_bottom10])

In [26]:
combined_bottom10

,Label,X,Y,flag,mapping,c0,c3,c4
1616,H60.399,-7.153941,34.429275,0,NaN,True,False,False
1580,I50.1,-7.046829,31.916566,0,Heart failure,True,False,False
1468,H91.8X9,-6.735190,50.118828,0,"Hearing loss, unspecified",True,False,False
1309,Z13.31,-6.633816,90.447532,0,NaN,True,False,False
1582,W18.09XA,-6.467823,21.097172,0,NaN,True,False,False
1546,H35.369,-6.383987,19.857381,0,NaN,True,False,False
1600,M85.88,-6.295151,18.619773,0,NaN,True,False,False
1531,E87.4,-6.264320,18.207752,0,NaN,True,False,False
1591,R09.81,-6.232836,17.796000,0,NaN,True,False,False
1552,J96.02,-6.167792,16.973334,0,NaN,True,False,False
569,F07.0,-4.424484,7.218890,0,Personality and behavioral disorders due to br...,False,True,False
215,F01.51,-2.873675,7.476672,0,Vascular dementia,False,False,True
219,Z86.39,-2.734544,6.122691,0,NaN,False,False,True
208,R46.89,-2.377806,6.194124,0,NaN,False,False,True
195,Z00.6,-2.239145,10.264489,0,NaN,False,False,True
198,Z87.898,-2.222721,7.125425,0,NaN,False,False,True
175,Z04.9,-1.556648,7.237865,0,NaN,False,False,True

In [27]:
combined_bottom10.to_csv('bottom10_cluster_specific_disease_negative_revised.csv', index=False)